body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.parents{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.parent1{
  background-color: brown;
  width: 50%;
  height: 50px;
  display: flex;
}

.parent2{
  background-color: blue;
  width: 50%;
  height: 50px;
  display: flex;
}
